@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Lični podaci";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-6">
        <p>Tvoj korisnički račun sadrži lične podatke koje si unio. Na ovoj stranici možeš preuzeti ili izbrisati te podatke.</p>
        <p>
            <strong>Brisanjem ovih podataka trajno ćeš ukloniti svoj korisnički račun, i taj postupak se ne može poništiti.</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post">
            <button class="btn btn-primary" type="submit">Preuzmi</button>
        </form>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">Izbriši</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
