@model RealEstateHub.Models.Obavjestenje

@{
    ViewData["Title"] = "Edit";
}

<h1 class="text-center">Uredi obavještenje</h1>

<hr />
<div class="row justify-content-center">
    <div class="col-md-6">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="obavjestenjeId" />
            <div class="form-group">
                <label asp-for="korisnikId" class="control-label"></label>
                <input asp-for="korisnikId" class="form-control" />
                <span asp-validation-for="korisnikId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="datumObavjestenja" class="control-label"></label>
                <input asp-for="datumObavjestenja" class="form-control" />
                <span asp-validation-for="datumObavjestenja" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="poruka" class="control-label"></label>
                <input asp-for="poruka" class="form-control" />
                <span asp-validation-for="poruka" class="text-danger"></span>
            </div>
            <div class="form-group text-center">
                <input type="submit" value="Sačuvaj" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="text-center mt-3">
    <a asp-action="Index">Vrati se na listu obavještenja</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
