@model RealEstateHub.Models.Kriterij

@{
    ViewData["Title"] = "Details";
}

<h1>Detalji o kriteriju</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.vrijednost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.vrijednost)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.kriterijId">Uredi</a> |
    <a asp-action="Index">Vrati se na listu kriterija</a>
</div>
