@model RealEstateHub.Models.Oglas

@{
    ViewData["Title"] = "Create";
}

<h1 class="text-center">Dodaj oglas</h1>

<hr />
<div class="row justify-content-center">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="jeAktivan" /> @Html.DisplayNameFor(model => model.jeAktivan)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="datumPostavljanja" class="control-label"></label>
                <input asp-for="datumPostavljanja" class="form-control" type="date" />
                <span asp-validation-for="datumPostavljanja" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="brojPregleda" class="control-label"></label>
                <input asp-for="brojPregleda" class="form-control" />
                <span asp-validation-for="brojPregleda" class="text-danger"></span>
            </div>
            <div class="form-group text-center">
                <input type="submit" value="Dodaj oglas" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="text-center mt-3">
    <a asp-action="Index">Vrati se na listu oglasa</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
