@model RealEstateHub.Models.Sesija

@{
    ViewData["Title"] = "Obrisi";
}

<h1>Delete</h1>

<h3>Da li ste sigurni da zelite obirsati?</h3>
<div>
    <h4>Sesija</h4>
    <hr />
    <dl class="row">
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="sesijaId" />
        <input type="submit" value="Obrisi" class="btn btn-danger" /> |
        <a asp-action="Index">Vrati se na listu</a>
    </form>
</div>
