@model RealEstateHub.Models.Sesija

@{
    ViewData["Title"] = "Detalji";
}

<div>
    <h4>Sesija</h4>
    <hr />
    <dl class="row">
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.sesijaId">Edit</a> |
    <a asp-action="Index">Vrati se na listu</a>
</div>
