@model IEnumerable<RealEstateHub.Models.Sesija>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista</h1>

<p>
    <a asp-action="Create">Napravi novu</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Edit" asp-route-id="@item.sesijaId">Uredu</a> |
                <a asp-action="Details" asp-route-id="@item.sesijaId">Detalji</a> |
                <a asp-action="Delete" asp-route-id="@item.sesijaId">Obrisi</a>
            </td>
        </tr>
}
    </tbody>
</table>
