@model RealEstateHub.Models.Kriterij

@{
    ViewData["Title"] = "Edit";
}

<h1>Uredi</h1>

<h4>Kriterij</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="kriterijId" />
            <div class="form-group">
                <label asp-for="obavjestenjeId" class="control-label"></label>
                <select asp-for="obavjestenjeId" class="form-control" asp-items="ViewBag.obavjestenjeId"></select>
                <span asp-validation-for="obavjestenjeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="vrijednost" class="control-label"></label>
                <input asp-for="vrijednost" class="form-control" />
                <span asp-validation-for="vrijednost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Sacuvaj" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Vrati se na listu</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
