@model IEnumerable<RealEstateHub.Models.ApplicationUser>

@{
    ViewData["Title"] = "Lista korisnika";
}

<h1>Lista registrovanih korisnika</h1>

<p>
    <a href="~/Identity/Account/Register">Dodaj novog korisnika</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Ime</th>
            <th>Prezime</th>
            <th>E-mail</th>
            <th>Telefon</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.Email</td>
                <td>@item.PhoneNumber</td>              
            </tr>
        }
    </tbody>
</table>
