@model RealEstateHub.Models.Nekretnina

@{
    ViewData["Title"] = "Create";
}

<h1 class="text-center">Dodaj nekretninu</h1>

<hr />
<div class="row justify-content-center">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="naslov" class="control-label"></label>
                <input asp-for="naslov" class="form-control" />
                <span asp-validation-for="naslov" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="opisNekretnine" class="control-label"></label>
                <input asp-for="opisNekretnine" class="form-control" />
                <span asp-validation-for="opisNekretnine" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cijena" class="control-label"></label>
                <input asp-for="cijena" class="form-control" />
                <span asp-validation-for="cijena" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="kvadratura" class="control-label"></label>
                <input asp-for="kvadratura" class="form-control" />
                <span asp-validation-for="kvadratura" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="lokacija" class="control-label"></label>
                <input asp-for="lokacija" class="form-control" />
                <span asp-validation-for="lokacija" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="brojSoba" class="control-label"></label>
                <input asp-for="brojSoba" class="form-control" />
                <span asp-validation-for="brojSoba" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="vlasnikId" class="control-label"></label>
                <input asp-for="vlasnikId" class="form-control" />
                <span asp-validation-for="vlasnikId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="vrstaNekretnine" class="control-label"></label>
                <select asp-for="vrstaNekretnine" class="form-control"
                asp-items="Html.GetEnumSelectList<Kategorija>()"></select>
                <span asp-validation-for="vrstaNekretnine" class="text-danger"></span>
            </div>
            <div class="form-group text-center">
                <input type="submit" value="Dodaj nekretninu" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="text-center mt-3">
    <a asp-action="Index">Vrati se na listu nekretnina</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
