@model RealEstateHub.Models.Nekretnina

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Nekretnina</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="naslov" class="control-label"></label>
                <input asp-for="naslov" class="form-control" />
                <span asp-validation-for="naslov" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="opisNekretnine" class="control-label"></label>
                <input asp-for="opisNekretnine" class="form-control" />
                <span asp-validation-for="opisNekretnine" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cijena" class="control-label"></label>
                <input asp-for="cijena" class="form-control" />
                <span asp-validation-for="cijena" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="kvadratura" class="control-label"></label>
                <input asp-for="kvadratura" class="form-control" />
                <span asp-validation-for="kvadratura" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="lokacija" class="control-label"></label>
                <input asp-for="lokacija" class="form-control" />
                <span asp-validation-for="lokacija" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="brojSoba" class="control-label"></label>
                <input asp-for="brojSoba" class="form-control" />
                <span asp-validation-for="brojSoba" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="vlasnikId" class="control-label"></label>
                <input asp-for="vlasnikId" class="form-control" />
                <span asp-validation-for="vlasnikId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="vrstaNekretnine" class="control-label"></label>
                <select asp-for="vrstaNekretnine" class="form-control"></select>
                <span asp-validation-for="vrstaNekretnine" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
