@model RealEstateHub.Models.FilterNekretnina

@{
    ViewData["Title"] = "Create";
}

<h1 class="text-center">Dodaj novi filter</h1>

<hr />
<div class="row justify-content-center">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="minCijena" class="control-label"></label>
                <input asp-for="minCijena" class="form-control" />
                <span asp-validation-for="minCijena" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="maxCijena" class="control-label"></label>
                <input asp-for="maxCijena" class="form-control" />
                <span asp-validation-for="maxCijena" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label>Minimalan broj soba</label>
                <input asp-for="minBrojSoba" class="form-control" />
                <span asp-validation-for="minBrojSoba" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label>Maksimalan broj soba</label>
                <input asp-for="maxBrojSoba" class="form-control" />
                <span asp-validation-for="maxBrojSoba" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label>Minimalna kvadratura</label>
                <input asp-for="minKvadratura" class="form-control" />
                <span asp-validation-for="minKvadratura" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label>Maksimalna kvadratura</label>
                <input asp-for="maxKvadratura" class="form-control" />
                <span asp-validation-for="maxKvadratura" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="tipNekretnine" class="control-label"></label>
                <select asp-for="tipNekretnine" class="form-control" asp-items="Html.GetEnumSelectList<Kategorija>()"></select>
                <span asp-validation-for="tipNekretnine" class="text-danger"></span>
            </div>

            <div class="form-group text-center">
                <input type="submit" value="Dodaj" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="text-center mt-3">
    <a asp-action="Index">Vrati se na listu filtera</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
