@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Potvrda resetovanja lozinke";
}

<h1>@ViewData["Title"]</h1>
<p>
    Vaša lozinka je uspješno resetovana. Molimo <a asp-page="./Login">kliknite ovdje za prijavu</a>.
</p>
