@{
    ViewData["Title"] = "Početna stranica";
}

<h1>Dobrodošli na RealEstateHub!</h1>

<p>
    <a asp-controller="Nekretnina" asp-action="Index" class="btn btn-primary">Pogledaj sve nekretnine</a>

</p>
